  /* 
   Stylesheet for Galileo's World Exhibit Site //
  
   Table of Contents
   - - - - - - - - -
   General Styles

   - - - - - - - - -
 */
 
 

 
 /**
 * General Styles
 */

html,body{
    height: 100%;
	background-color: #fff;
	font-family: Verdana; 
}

#body{
    margin-bottom: 40px; /* height of footer */
}


.header_red{
	background-color: #5a0000;
}